# .NET Core / .NET 5+ specific files
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log
*.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.suo
*.userprefs
*.swp

# Rider
.idea/

# Visual Studio Code
.vscode/